Package: com.cfarzaneh.neverignore
Name: NeverIgnore
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: An awesome MobileSubstrate tweak!
Maintainer: CFarzaneh
Author: CFarzaneh
Section: Tweaks
